/* _base */
:root{
    --scale: §scale§;
    --bg: §bg§;
    --fg: §fg§;
    --navbar-bg: §navbar-bg§;
    --navbar-fg: §navbar-fg§;
    --navbar-hover: §navbar-hover§;
    --footer-bg: §footer-bg§;
    --footer-fg: §footer-fg§;
    --footer-a: §footer-a§;
    --footer-a-hover: §footer-a-hover§;
    --root-query: §root-query§;
    --box-li-bg: §box-li-bg§;
    --box-li-border: §box-li-border§;
}
body{
    font-family: Segoe UI, SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: var(--bg);
    color: var(--fg);
    z-index: 0;
    font-size: calc(var(--scale) * 100%);
}
.header{
    width: 100vw;
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: var(--navbar-bg);
    color: var(--navbar-fg);
    width: 12em;
    padding: 0.2em 0.8em;
    min-height: calc(100vh - 2 * 0.2em);
    display: inline-block;
}
.navbar-list{
    list-style-type: none;
    padding: 0.1em 0;
}
.navbar-link {
    background-color: inherit;
    text-decoration: none;
    color: var(--navbar-fg);
    transition: all 0.5s ease-out;
    padding: 0.1em 0.2em;
    border-radius: 0.64em;
    font-size: 1.1em;
}
.navbar-link:hover{
    background-color: var(--navbar-hover);
}
.navbar-element{
    margin-top: 0.6em;
}
.navbar-hide{
    color: var(--navbar-bg);
}
.main{
    padding: 1em;
    min-height: calc(100vh - 2 * 1em - 1.5em - 2 * 1em);
}
.navbar-second-list{
    list-style-type: none;
    padding: 0 1.5em;
}
.navbar-second-link {
    background-color: inherit;
    text-decoration: none;
    color: var(--navbar-fg);
    transition: all 0.5s ease-out;
    padding: 0.1em 0.2em;
    border-radius: 0.64em;
}
.navbar-second-link:hover{
    background-color: var(--navbar-hover);
}
.navbar-second-element{
    margin-top: 0.25em;
}
.container{
    min-height: 100vh;
    margin: 0;
}
.account{
    background-color: var(--navbar-bg);
    position: fixed;
    left: 0.5em;
    bottom: -0.3em;
    z-index: 1;
    width: 12em;
    font-size: 0.7em;
}
.footer{
    text-align: center;
}
.footer-text {
    margin: 0;
    padding: 1em;
    min-height: 1.5em;
    background-color: var(--footer-bg);
    color: var(--footer-fg);
    width: calc(100vw - 12em - 2 * 0.8em);
}
.footer-inner{
    font-size: 80%;
}
.footer-link{
    color: var(--footer-a);
    transition: all 0.5s ease-out;
}
.footer-link:hover{
    color: var(--footer-a-hover);
}
.header{
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--navbar-bg);
}

/* COMMON */
.center{
    text-align: center;
}
.box{
    text-align: center;
    list-style-type: none;
}
.box li{
    display: inline-block;
    background: var(--box-li-bg);
    border: 0.1em solid var(--box-li-border);
}
.input-text{
    outline: none;
    font-size: 1.2em;
    border-radius: 1em;
    border-color: var(--root-query);
    padding: 0.25em 0.7em;
    float: right;
}
.input-button{
    font-size: 1.2em;
    border-radius: 1em;
    border-color: var(--root-query);
    background-color: var(--bg);
    padding: 0.25em 0.7em;
    float: right;
}
.input-checkbox{
    border-radius: 1em;
    border-color: var(--root-query);
    background-color: var(--bg);
    padding: 0.25em;
    float: right;
    transform: scale(1.5);
}
.comments-container{
    border: 0.1em solid var(--box-li-border);
    border-radius: 1em;
    gap: 2em;
}
.comments-container div{
    border: 0.1em solid var(--box-li-border);
    border-radius: 1em;
    margin: 0;
}
.comments-container p{
    margin: 0.5em;
}

/* _root */
.-root_query{
    outline: none;
    font-size: 1.2em;
    border-radius: 1em;
    border-color: var(--root-query);
    padding: 0.25em 0.7em;
}
.-root_submit{
    font-size: 1.2em;
    border-radius: 1em;
    border-color: var(--root-query);
    background-color: var(--bg);
    height: 2em;
    width: 2em;
}
.-root-box li{
    width: 8em;
    height: 1.6em;
    border-radius: 1em;
}
.-root-box a{
    text-decoration: none;
    color: var(--footer-a);
}
.-root-box a:hover {
    color: var(--footer-a-hover);
}
.-root-cards li{
    width: 8em;
    height: 10.8em;
    border-radius: 1em;
    margin: 0.25em;
}
.-root-cards img{
    height: 7em;
    width: 7em;
    margin: 0.5em 0.5em 0;
}
.-root-cards a{
    text-decoration: none;
    color: var(--footer-a);
    display: grid;
}
.-root-cards a:hover{
    color: var(--footer-a-hover);
}
.-root-search{
    text-align: center;
}

/* neuigkeiten */
.neuigkeiten_box li{
    width: calc(100vw - 12em - 2 * 1em);
    height: 2.7em;
    border-radius: 1em;
}
.neuigkeiten_box a{
    text-decoration: none;
    color: var(--footer-a);
}
.neuigkeiten_box a:hover {
    color: var(--footer-a-hover);
}

/* konto_registrieren */
.konto-registrieren_fieldset{
    min-width: 8em;
    display: inline-block;
}
.konto-registrieren_fieldset input{
    float: right;
}

/* dokumente */
.dokumente_box{
    margin-top: 1em;
    display: inline-grid;
    padding: 0.1em;
}
.dokumente_box div{
    border-width: 0.1em;
    border-radius: 1em;
    border-color: var(--root-query);
    background-color: var(--bg);
    padding: 0.25em 0.7em;
    display: inline;
    float: none;
    cursor: pointer;
}
.dokumente_filter{
    outline: none;
    border-radius: 1em;
    border-color: var(--root-query);
    padding: 0.15em 0.4em;
}

/* SCALING */
@media (max-width: calc(§scale§ * 36em)) {
    .navbar{
        display: none;
        width: 100vw;
        top: 0;
        left: 0;
        position: absolute;
    }
    .account{
        display: none;
    }
    .footer-text{
        width: calc(100vw - 2 * 1em);
    }
    .main{
        padding-top: 3em;
        min-height: calc(100vh - 1em - 3em - 1.5em - 2 * 1em);
        max-width: 100vw;
    }
    .navbar-desktop{
        display: none;
    }
}
@media (min-width: calc(§scale§ * 36em + 1px)){
    .navbar-mobile{
        display: none;
    }
    .header{
        display: none;
    }
    .main{
        max-width: calc(100vw - 12em - 2 * 0.8em);
    }
}
