<!DOCTYPE html>
<html lang="de-CH">
<head>
    <meta charset="UTF-8">
    <title>IP-Adresse gesperrt | IP-address blocked</title>
</head>
<body>
<div class="title">
    <h3>403 - Forbidden</h3>
    <h1>IP-Adresse gesperrt | IP-address blocked</h1>
</div>
<div class="deutsch" lang="de-CH">
    <h3>Deutsch</h3>
    <p>Der Zugriff auf diese Webseite (ksalp.ch) von Ihrer IP-Adresse wurde gesperrt. Dies kann mehrere Gründe haben,
        unter anderem eine Einschätzung unserer automatisierten Überwachungssysteme oder eine manuelle Überprüfung der
        Log-Dateien. Falls Sie denken, dass es sich bei dieser Sperrung um einen Fehler handelt, kontaktieren Sie bitte
        den*die Betreiber*in.</p>
    <p>Ihre IP-Adresse lautet: {{ ip }}</p>
</div>
<div class="english" lang="en">
    <h3>English</h3>
    <p>Access to this website (ksalp.ch) from your IP address has been blocked. This may be due to several reasons,
        including an assessment of our automated monitoring systems or a manual review of the log files. If you think
        that this blocking is a mistake, please contact the operator.</p>
    <p>Your IP-address is: {{ ip }}</p>
</div>
</body>
</html>
