<!DOCTYPE html>
<html lang="de-CH">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} [ksalp.ch]</title>
    <link rel="stylesheet" href="/stylesheets/{{ theme }}.css">
    <script src="/src/scripts/navbar.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="_base_warning">
    <h2 class="center _base_warning">Diese Webseite befindet sich in der Test-Phase und sollte noch nicht genutzt werden.</h2>
</div>
<div class="header">
    <p>&ensp;<a href="#" class="navbar-link" id="navbar-menu_0">&#9776;</a>
    <span>ksalp.ch</span></p>
</div>
<div class="navbar" id="navbar">
    <p class="navbar-mobile">&ensp;<a href="#" class="navbar-link" id="navbar-menu_1">&#9587;</a>&emsp;
        {% if signed_in %}
            <small>Angemeldet als <i>{{ name }}</i></small>
        {% else %}
            <small>Nicht angemeldet</small>
        {% endif %}
    </p>
    <p class="navbar-desktop">ksalp.ch</p>
    <ul class="navbar-list">
        <li class="navbar-element"><span class="navbar-hide">&#9655; </span><a href="/" class="navbar-link">Startseite</a></li>
        <li class="navbar-element"><span class="navbar-hide">&#9655; </span><a href="/neuigkeiten" class="navbar-link">Neuigkeiten</a></li>
        <li class="navbar-element"><span id="navbar-prefix_documents">&#9655; </span><a href="#" class="navbar-link" id="navbar-button_documents">Dokumente</a></li>
        <li><ul class="navbar-second-list" id="navbar-list_documents">
            <li class="navbar-second-element"><a href="/dokumente" class="navbar-second-link">Alle</a></li>
            {% if signed_in %}
                <li class="navbar-second-element"><a href="/dokumente/klasse" class="navbar-second-link">Meine Klasse</a></li>
                <li class="navbar-second-element"><a href="/dokumente/klassenstufe" class="navbar-second-link">Meine Klassenstufe</a></li>
            {% endif %}
        </ul></li>
        <li class="navbar-element"><span class="navbar-hide">&#9655; </span></li>
        {% if signed_in %}
            <li class="navbar-element"><span class="navbar-hide">&#9655; </span><a href="/konto/abmelden" class="navbar-link">Abmelden</a></li>
            <li class="navbar-element"><span class="navbar-hide">&#9655; </span><a href="/konto/einstellungen" class="navbar-link">Einstellungen</a></li>
        {% else %}
            <li class="navbar-element"><span class="navbar-hide">&#9655; </span><a href="/konto/anmelden" class="navbar-link">Anmelden</a></li>
            <li class="navbar-element"><span class="navbar-hide">&#9655; </span><a href="/konto/registrieren" class="navbar-link">Registrieren</a></li>
        {% endif %}
        <li class="navbar-element"><span id="navbar-prefix_about">&#9655; </span><a href="#" class="navbar-link" id="navbar-button_about">Über</a></li>
        <li><ul class="navbar-second-list" id="navbar-list_about">
            <li class="navbar-second-element"><a href="/über/team" class="navbar-second-link">das Team</a></li>
            <li class="navbar-second-element"><a href="/über/kontakt" class="navbar-second-link">Kontakt</a></li>
            <li class="navbar-second-element"><a href="/über/quellcode" class="navbar-second-link">Quellcode</a></li>
            <li class="navbar-second-element"><a href="/über/finanzen" class="navbar-second-link">Finanzen</a></li>
            <li class="navbar-second-element"><a href="/impressum" class="navbar-second-link">Impressum</a></li>
            <li class="navbar-second-element"><a href="/datenschutz" class="navbar-second-link">Datenschutz</a></li>
            <li class="navbar-second-element"><a href="/agb" class="navbar-second-link">AGB</a></li>
        </ul></li>
        <li class="navbar-element"><span class="navbar-hide">&#129170; </span></li>
    </ul>
</div>
<div class="account">
    {% if signed_in %}
        <p>Angemeldet als <i>{{ name }}</i></p>
    {% else %}
        <p>Nicht angemeldet</p>
    {% endif %}
</div>
<div class="container">
    <div class="main">
        {% block main %}{% endblock %}
    </div>
    <div class="footer">
        <p class="footer-text"><span class="footer-inner">site design © 2023 Martin Merkli &emsp;|&emsp;<a href="/" class="footer-link">Impressum</a>&emsp;|&emsp;<a href="/" class="footer-link">Datenschutz</a>&emsp;|&emsp;<a href="/" class="footer-link">Allgemeine Geschäftsbedingungen</a></span></p>
    </div>
</div>
</body>
</html>