{% extends '_base.html' %}

{% block title %}Dokument hochladen{% endblock %}

{% block main %}
    <h2 class="center">Dokument hochladen</h2>
    <form action="/dokument/neu/post" method="post">
        <fieldset class="konto-registrieren_fieldset">
            <p>
                <label for="dokumente-neu_input_title">Name: </label>
                <input type="text" id="dokumente-neu_input_title" name="title" required placeholder="..." minlength="2" maxlength="64" class="input-text">
            </p>
            <p>
                <label for="dokumente-neu_input_file">Datei: </label>
                <input type="file" id="dokumente-neu_input_file" name="file" required class="input-text">
            </p>
            <p>
                <label for="dokumente-neu_input_subject">Fach: </label>
                <select id="dokumente-neu_input_subject" name="subject" required class="input-text">
                    {% for subject in subjects %}
                        <option value="{{ subject[0] }}">{{ subject[1] }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label for="dokumente-neu_input_language">Sprache: </label>
                <select id="dokumente-neu_input_language" name="language" required class="input-text">
                    {% for language in languages %}
                        <option value="{{ language[0] }}">{{ language[1] }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label for="dokumente-neu_input_class">Klasse (oder '-'): </label>
                <input type="text" id="dokumente-neu_input_class" name="class" required placeholder="G21m" minlength="1" maxlength="4" class="input-text">
            </p>
            <p>
                <label for="dokumente-neu_input_grade">Klassenstufe (oder '-'): </label>
                <select id="dokumente-neu_input_grade" name="grade" required class="input-text">
                    {% for grade in grades %}
                        <option value="{{ grade }}">{{ grade }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label for="dokumente-neu_input_description">Beschreibung: </label>
                <input type="text" id="dokumente-neu_input_description" name="description" required placeholder="..." minlength="1" maxlength="2048" class="input-text">
            </p>
            <p>
                <label for="dokumente-neu_input_submit">Metadaten werden öffentlich sichtbar sein.</label>
                <input type="submit" id="dokumente-neu_input_submit" name="submit" value="Hochladen" class="input-button">
            </p>
        </fieldset>
    </form>
{% endblock %}
