{% extends '_base.html' %}

{% block title %}Vorschau '[{{ subject }}] {{ title }}'{% endblock %}

{% block main %}
    <h2 class="center">[{{ subject }}] {{ title }}</h2>
    <p class="center"><b>{{ extension }} {{ size }}</b>&emsp;Zuletzt bearbeitet am <b>{{ edited1 }}</b> um
        {{ edited2 }} Uhr&emsp;Erstellt am <b>{{ created1 }}</b> um {{ created2 }} Uhr&emsp;Hochgeladen von
        <b><i>{{ author }}</i></b></p>
    <p class="center"><small>Klasse: {{ doc_class }}&emsp;Klassenstufe: {{ doc_grade }}&emsp;Sprache: {{ doc_language }}&emsp;ID: <i>#{{ document_id }}</i></small></p>
    <div class="center">
        <p class="_melden_inline">
            <a class="footer-link" href="/dokumente/dokument/{{ document_id }}/{{ download }}" download="{{ download }}">Herunterladen</a> &emsp;
            <a class="footer-link" href="/dokumente/dokument/{{ document_id }}/{{ download }}" target="_blank">In neuem Tab öffnen</a> &emsp;
            {% if is_owner %}
                <a class="footer-link" href="/dokumente/bearbeiten?id={{ document_id }}" target="_blank">Bearbeiten</a> &emsp;
            {% endif %}
        </p>
        <form action="/melden/post" method="post" class="_melden_inline" target="_blank">
            <input type="hidden" name="type" value="dokument">
            <input type="hidden" name="id" value="{{ document_id }}">
            <input type="submit" name="Unangebrachter Inhalt melden" value="Unangebrachter Inhalt melden" class="_melden_link-button">
        </form>
        <p class="_melden_inline">&emsp;
            {% if not allow_iframe %}
                <small>Die Vorschau ist standardmässig deaktiviert. <a class="footer-link" href="/konto/einstellungen">Ändern</a></small>
            {% elif not iframe_available %}
                <small>Für dieses Dokument ist keine Vorschau verfügbar.</small>
            {% else %}
                <small>Die Beschreibung und Kommentare befinden sich weiter unten.</small>
            {% endif %}
        </p>
    </div>
    <br>
    {% if allow_iframe and iframe_available %}
        <iframe class="dokumente-vorschau_iframe" src="/dokumente/dokument/{{ document_id }}/{{ download }}"></iframe>
    {% endif %}
    <h3>Beschreibung</h3>
    <p><i>{{ description }}</i></p>
    <h3>Kommentare</h3>
    {% if signed_in %}
        <h4>Neuen Kommentar verfassen</h4>
        <form action="/kommentar/neu?typ=dokument&id={{ document_id }}" method="post">
            <fieldset class="konto-registrieren_fieldset">
                <div>
                    <label for="dokumente-vorschau_kommentar-comment">Kommentar: </label>
                    <br>
                    <input type="text" id="dokumente-vorschau_kommentar-comment" name="comment" required placeholder="..." minlength="1" maxlength="2048" class="input-text">
                </div>
                <br>
                <div>
                    <label for="konto-registrieren_submit">Metadaten werden öffentlich sichtbar sein.</label>
                    <br>
                    <input type="submit" id="konto-registrieren_submit" name="submit" value="Veröffentlichen" class="input-button">
                </div>
            </fieldset>
        </form>
    {% else %}
        <p>Sie müssen angemeldet sein, um Kommentare zu verfassen.</p>
    {% endif %}
    <div class="comments-container">
        {% for comment in comments %}
            <div>
                <p><b><i>{{ comment[0] }}</i></b> am {{ comment[1] }} <small><i>#{{ comment[2] }}</i></small>
                    <a href="/melden?typ=kommentar?id={{ comment[2] }}"></a></p>
                <form action="/melden/post" method="post" class="_melden_inline">
                    <input type="hidden" name="type" value="kommentar">
                    <input type="hidden" name="id" value="{{ comment[2] }}">
                    <input type="submit" name="Melden" value="Melden" class="_melden_link-button">
                </form>
                <p><i>{{ comment[3] }}</i></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
