{% extends '_base.html' %}

{% block title %}Anmelden{% endblock %}

{% block main %}
    <h2 class="center">Anmelden</h2>
    <form action="/konto/anmelden2" method="post">
        <fieldset class="konto-registrieren_fieldset">
            <div>
                <label for="konto-registrieren_mail">E-Mail: </label>
                <br>
                <input type="email" id="konto-registrieren_mail" name="mail" required placeholder="vorname_nachname@sluz.ch" class="input-text">
            </div>
            <br>
            <div>
                <label for="konto-registrieren_password">Passwort: </label>
                <br>
                <input type="password" id="konto-registrieren_password" name="password" required placeholder="****************" class="input-text">
            </div>
            <br>
            <div>
                <label for="konto-registrieren_submit">Anmeldungen sind mindestens für 96 Tage gültig.</label>
                <br>
                <input type="submit" id="konto-registrieren_submit" name="submit" value="Anmelden" class="input-button">
            </div>
            <br>
        </fieldset>
    </form>
{% endblock %}
