body{
    font-family: "Montserrat", "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    src: url("/error_www/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    font-style: italic;
    src: url("/error_www/fonts/Montserrat-MediumItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Bold";
    font-style: normal;
    src: url("/error_www/fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Bold";
    font-style: italic;
    src: url("/error_www/fonts/Montserrat-BoldItalic.ttf") format("truetype");
}
b, h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat Bold", "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
img{
    height: 3em;
}
